<% if current_user.role == 'admin' %>



    <div class="ui center aligned grid" style="padding: 25px;">
      <h3>Admin working environment</h3>
    </div>

    <div class="ui segment center aligned grid">
        <p class="ui error"><%= flash[:error] %></p>
    </div>

    <div class="ui segment center aligned grid">
      <h4>All Users</h4>
    </div>

    <div class="ui segment center aligned grid">
        <table class="ui compact celled definition table">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Registration Date</th>
            <th>E-mail address</th>
            <th>Premium Plan</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td> <%= user.username %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.role %> </td>
            <td>No</td>
            <td>Edit</td>
            <td>
              <a class="btn btn-sm" href="delete/user/<%=user.id%>" data-method="delete">
                <i class="pg-trash"></i><span class="bold">Delete</span>
              </a>
            </td>
          </tr>

          <% end %>

          </tbody>
          <tfoot class="full-width">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button" id="new-user">
                <i class="user icon"></i> Add User
              </div>
              <div class="ui small button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
    </div>

    <div class="ui segment center aligned grid">
      <h4>All Works</h4>
    </div>

    <div class="ui segment center aligned grid">
      <table class="ui celled table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>image</th>
          <th>Url demo</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @works.each do |work| %>
        <tr>
          <td>
            <%= work.title %>
            <!--<div class="ui ribbon label">First</div>-->
          </td>
          <td><%= work.description %></td>
          <td><%= work.image %></td>
          <td><%= work.url %></td>
          <td>Edit</td>
          <td>
            <a class="btn btn-sm" href="delete/work/<%=work.id%>" data-method="delete">
              <i class="pg-trash"></i><span class="bold">Delete</span>
            </a>
          </td>
        </tr>

        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="4">
            <div class="ui right floated small primary labeled icon button" id="new-work">
              <i class="database icon"></i> New Work
            </div>

          </th>
        </tr>
        <!--<tr><th colspan="4">-->
          <!--<div class="ui right floated pagination menu">-->
            <!--<a class="icon item">-->
              <!--<i class="left chevron icon"></i>-->
            <!--</a>-->
            <!--<a class="item">1</a>-->
            <!--<a class="item">2</a>-->
            <!--<a class="item">3</a>-->
            <!--<a class="item">4</a>-->
            <!--<a class="icon item">-->
              <!--<i class="right chevron icon"></i>-->
            <!--</a>-->
          <!--</div>-->
        <!--</th>-->
        <!--</tr>-->
        </tfoot>
      </table>
    </div>
    <div class="ui segment center aligned grid">
      <h4>All Articles</h4>
    </div>

    <div class="ui segment center aligned grid">
      <table class="ui celled padded table">
        <thead>
        <tr><th class="single line">Login</th>
          <th>Title</th>
          <th>Efficacy</th>
          <th>Consensus</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr></thead>
        <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td>
            <h2 class="ui center aligned header">
              <%= article.user.username %>
            </h2>
          </td>
          <td class="single line">
            <%= article.title %>
          </td>
          <td>
            <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
          </td>
          <td class="right aligned">
            80% <br>
            <a href="#">18 studies</a>
          </td>
          <td><%= article.description %></td>
          <td>Edit</td>
          <td>
            <a class="btn btn-sm" href="delete/article/<%=article.id%>" data-method="delete">
              <i class="pg-trash"></i><span class="bold">Delete</span>
            </a>
          </td>

        </tr>
        <% end %>

        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="4">
            <div class="ui right floated small primary labeled icon button" id="new-article">
              <i class="database icon"></i> New Post
            </div>

          </th>
        </tr>
        <!--<tr><th colspan="4">-->
        <!--<div class="ui right floated pagination menu">-->
        <!--<a class="icon item">-->
        <!--<i class="left chevron icon"></i>-->
        <!--</a>-->
        <!--<a class="item">1</a>-->
        <!--<a class="item">2</a>-->
        <!--<a class="item">3</a>-->
        <!--<a class="item">4</a>-->
        <!--<a class="icon item">-->
        <!--<i class="right chevron icon"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--</th>-->
        <!--</tr>-->
        </tfoot>
      </table>
    </div>

    <div class="ui modal new_user" id="new-user">
      <div class="header">Create New User</div>
      <div class="content">
        <form action="/users" method="post" class="ui form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input type="text" name="user[username]" placeholder="Name">
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" name="user[email]" placeholder="email">
            </div>
          </div>
          <div class="field">
            <select class="ui fluid search dropdown" name="user[role]" placeholder="role">
              <option value="1">Tester</option>
              <option value="2">User</option>
              <option value="3">Admin</option>
            </select>
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
      <div class="actions">
        <div class="ui approve button">Approve</div>
        <div class="ui button">Neutral</div>
        <div class="ui cancel button">Cancel</div>
      </div>
    </div>

    <div class="ui modal new_work" id="new-work">
      <div class="header">Create New Work Page</div>
      <div class="content">
        <form action="/works" method="post" class="ui form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="two fields">
            <div class="field">
              <label>Title</label>
              <input type="text" name="work[title]" placeholder="Title">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Title</label>
              <input type="text" name="work[image]" placeholder="Title">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Title</label>
              <input type="text" name="work[url]" placeholder="Title">
            </div>
          </div>
          <div class="field">
            <label>Description</label>
            <textarea name="work[description]" rows="2"></textarea>
          </div>
          <div class="field">
            <select class="ui fluid search dropdown" name="work[user_id]" placeholder="who work">
              <option value="1">dimkawp</option>
              <option value="2">User2</option>
              <option value="3">User3</option>
            </select>
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
      <div class="actions">
        <div class="ui approve button">Approve</div>
        <div class="ui button">Neutral</div>
        <div class="ui cancel button">Cancel</div>
      </div>
    </div>

    <div class="ui modal new_article" id="new-article">
      <div class="header">Create New Articles Page</div>
      <div class="content">
        <form action="/articles" method="post" class="ui form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="two fields">
            <div class="field">
              <label>Title</label>
              <input type="text" name="article[title]" placeholder="Title">
            </div>
          </div>
          <div class="field">
            <label>Description</label>
            <textarea name="article[description]" rows="4"></textarea>
          </div>
          <div class="field">
            <select class="ui fluid search dropdown" name="article[user_id]" placeholder="who work">
              <option value="1">dimkawp</option>
              <option value="2">User2</option>
              <option value="3">User3</option>
            </select>
          </div>
          <div class="field">
            <select class="ui fluid search dropdown" name="article[category]" placeholder="who work">
              <option value="1">Funny</option>
              <option value="2">Ruby</option>
              <option value="3">Game</option>
            </select>
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
      <div class="actions">
        <div class="ui approve button">Approve</div>
        <div class="ui button">Neutral</div>
        <div class="ui cancel button">Cancel</div>
      </div>
    </div>

    <% else %>
    <p>Close fore you.</p>
<% end %>
