<% if current_user.role == 'admin' %>

    <div class="ui center aligned grid" style="padding: 25px;">
      <h3>Admin working environment</h3>
    </div>


    <div class="ui segment center aligned grid">
      <h4>All Users</h4>
    </div>


    <div class="ui segment center aligned grid">
        <table class="ui compact celled definition table">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Registration Date</th>
            <th>E-mail address</th>
            <th>Premium Plan</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td> <%= user.username %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.role %> </td>
            <td>No</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>

          <% end %>

          </tbody>
          <tfoot class="full-width">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> Add User
              </div>
              <div class="ui small button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
    </div>

    <div class="ui segment center aligned grid">
      <h4>All Works</h4>
    </div>

    <div class="ui segment center aligned grid">
      <table class="ui celled table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>image</th>
          <th>Url demo</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @works.each do |work| %>
        <tr>
          <td>
            <%= work.title %>
            <!--<div class="ui ribbon label">First</div>-->
          </td>
          <td><%= work.description %></td>
          <td><%= work.image %></td>
          <td><%= work.url %></td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>

        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="4">
            <div class="ui right floated small primary labeled icon button">
              <i class="database icon"></i> New Work
            </div>

          </th>
        </tr>
        <!--<tr><th colspan="4">-->
          <!--<div class="ui right floated pagination menu">-->
            <!--<a class="icon item">-->
              <!--<i class="left chevron icon"></i>-->
            <!--</a>-->
            <!--<a class="item">1</a>-->
            <!--<a class="item">2</a>-->
            <!--<a class="item">3</a>-->
            <!--<a class="item">4</a>-->
            <!--<a class="icon item">-->
              <!--<i class="right chevron icon"></i>-->
            <!--</a>-->
          <!--</div>-->
        <!--</th>-->
        <!--</tr>-->
        </tfoot>
      </table>
    </div>
    <div class="ui segment center aligned grid">
      <h4>All Articles</h4>
    </div>

    <div class="ui segment center aligned grid">
      <table class="ui celled padded table">
        <thead>
        <tr><th class="single line">Login</th>
          <th>Title</th>
          <th>Efficacy</th>
          <th>Consensus</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr></thead>
        <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td>
            <h2 class="ui center aligned header">
              <%= article.user.username %>
            </h2>
          </td>
          <td class="single line">
            <%= article.title %>
          </td>
          <td>
            <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
          </td>
          <td class="right aligned">
            80% <br>
            <a href="#">18 studies</a>
          </td>
          <td><%= article.description %></td>
          <td>Edit</td>
          <td>delete</td>

        </tr>
        <% end %>

        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="4">
            <div class="ui right floated small primary labeled icon button">
              <i class="database icon"></i> New Post
            </div>

          </th>
        </tr>
        <!--<tr><th colspan="4">-->
        <!--<div class="ui right floated pagination menu">-->
        <!--<a class="icon item">-->
        <!--<i class="left chevron icon"></i>-->
        <!--</a>-->
        <!--<a class="item">1</a>-->
        <!--<a class="item">2</a>-->
        <!--<a class="item">3</a>-->
        <!--<a class="item">4</a>-->
        <!--<a class="icon item">-->
        <!--<i class="right chevron icon"></i>-->
        <!--</a>-->
        <!--</div>-->
        <!--</th>-->
        <!--</tr>-->
        </tfoot>
      </table>
    </div>

    <% else %>
    <p>Close fore you.</p>
<% end %>
